- breadcrumb_title s_('AccessTokens|Access Tokens')
- page_title _('Project Access Tokens')
- type = _('project access token')
- type_plural = _('project access tokens')
- @content_class = 'limit-container-width' unless fluid_layout

.row.gl-mt-3
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
    - if current_user.can?(:create_resource_access_tokens, @project)
      = _('You can generate an access token scoped to this project for each application to use the GitLab API.')
      -# Commented out until https://gitlab.com/gitlab-org/gitlab/-/issues/219551 is fixed
      -# %p
      -#   = _('You can also use project access tokens to authenticate against Git over HTTP.')
    - else
      = _('Project access token creation is disabled in this group. You can still use and manage existing tokens.')
      %p
      - if current_user.can?(:admin_group, @project.group)
        - group_settings_link = edit_group_path(@project.group)
        - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: group_settings_link }
        = _('You can enable project access token creation in %{link_start}group settings%{link_end}.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }


  .col-lg-8
    - if @new_project_access_token
      = render 'shared/access_tokens/created_container',
          type: type,
          new_token_value: @new_project_access_token

    - if current_user.can?(:create_resource_access_tokens, @project)
      = render 'shared/access_tokens/form',
          type: type,
          path: project_settings_access_tokens_path(@project),
          token: @project_access_token,
          scopes: @scopes,
          prefix: :project_access_token

    = render 'shared/access_tokens/table',
        active_tokens: @active_project_access_tokens,
        type: type,
        type_plural: type_plural,
        revoke_route_helper: ->(token) { revoke_namespace_project_settings_access_token_path(id: token) },
        no_active_tokens_message: _('This project has no active access tokens.')
